/*
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #949494;
    text-align: left;
}

h1 {
    font-size: 20px;
    color: #444444;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #f4f4f4;
}

nav ul li {
    display: inline;
}

section {
    margin-top: 20px;
}

section h2 {
    font-size: 19px;
    color: #555555;
}

section p {
    font-size: 18px;
    color: #d2d2d2;
}

footer {
    background-color: #949494;
    text-align: left;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lobster&family=Spicy+Rice&display=swap');

@font-face {
    font-family: 'Roboto';
    src: url('Fuentes/Roboto/Roboto-Regular.woff2'),url('Fuentes/Roboto/Roboto-Regular.ttf') format('truetype');
}


body {
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: hsl(233, 81%, 10%);
    text-align: center;
    padding: 5px;
}

h1 {
    color: white;
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
}

nav{
    display: flex;
    justify-content: center;
    background-color: hsl(233, 55%, 20%);
}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav ul li {
    display: inline;


}

nav ul li a {
    text-decoration: none;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    color:hsl(61,94%,52%);

}

nav ul li a:hover {
    text-decoration: underline;
}

main{
    margin-top:5%;
    flex-grow: 1;
    display: flex;

    @media(width<=500px) {
        display: block;
    }

}

section {
    border: solid 2px black;
    border-radius: 20px;
    margin: 5px 20px 20px;
    padding: 5px 5px 5px 10px;
    background-color: hsl(61, 90%, 61%);
    align-self: flex-start;
    /*
    background-color: hsl(233, 55%, 20%);
    */

}


section h2 {

    font-family: "Berkshire Swash", serif;
    font-weight: bold;
    font-style: normal;

}

section p {

    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
    margin-top: -8px;
    padding-left: 10px;
}

footer {
    background-color:hsl(233, 81%, 10%);
    text-align: center;
    color: white;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}


