$primary:#c29338;
$secondary:green;
$font-size-base: 1.125rem;
$body-color:#495057;
$border-radius: .800rem;
$accordion-icon-width:30px;

$btn-font-size:1.2rem;
$input-bg:lightgray;
$link-color:orange;


@import "../node_modules/bootstrap/scss/bootstrap.scss";

